<template>
  <div class="backdrop" @click="closeModal">
    <div class="modal">
        <p>{{ content }}</p>
    </div>
    <div class="modal2">
        <div v-for="(item, index) in persons" :key="index" :class="{decorate: theme === 'modal'}"> 
            <li>
                {{ index }} {{ item.firstname }}
            </li>
            <hr id="short"/>
        </div>
        <!-- this was passed from the App component as a template block -->
        
        <div class="actions">
            <slot></slot>
            <slot name="links"></slot>
        </div>
    </div>
  </div>
</template>

<!-- <script>

import HelloWorld from "./HelloWorld.vue"
</script> -->
<script>
    export default {
        props: [
            "content",
            "persons",
            "theme"
        ],
        methods: {
            closeModal() {
                console.log("Close Event Emitted...")
                this.$emit('closeEvent')
            }
        }
    }
</script>
<style scoped>
    .modal {
        width: 400px;
        padding: 20px;
        margin: 100px;
        background: white;
        border-radius: 10px;
    }
    .modal2 {
        width: 400px;
        padding: 0px;
        margin: 100px;
        background: white;
        border-radius: 10px;
    }

    /* a {
        color: #333;
        text-align: center;
        margin: 130px;
        border: 100px solid #eee;
        border-radius: 4px;
        text-decoration: none;
    } */
    .backdrop {
        top: 0;
        position: fixed;
        width: 100%;
        height: 100%
    }
    .modal2 li {
        display: inline-block;
        padding-bottom: 10px;
    }
    hr#short {
        width: auto;
        padding: 0px;
        margin: 0px;
    }
    .decorate {
        background: violet;
        color: blue;
    }
</style>