<template>
  <div>
    <!--
      <img :src="image_path" alt="logo" style="width:500px;height:600px;"> 
      <h1>{{ title }}</h1>
      <div v-for="(item, index) in persons" :key="index">
        <li>{{ item }}</li>
      </div>
      <input type="text" ref="person_name">
      <button type="submit" @click="submitName">submit name</button>
      <span v-if="name">
        <p>Name Submitted was {{ name.firstname }}</p>
      </span>
      <span v-else>
        <p>Name Submitted was not found in the Database</p>
      </span>
    -->
    <div>
      <hello-world />
    </div>
    <div class="main">
      Content
    </div>
    <div v-if="showModal">
      <modal :content="modal_content" :persons="persons" theme="modal" @closeEvent="hideModal">
        <!-- this will be used as a slot in the Modal component -->
        <h3>{{ slot_head }}</h3>
        <h1>{{ slot_content }}</h1>
        <!-- Using named slots you will have to create a template and give it a name with v-slot:<slot_name> -->
        <template v-slot:links>
          <a href="#">Sign in</a>
          <a href="#">Sign out</a>
        </template>
      </modal>
    </div >
    <button v-if="showModal" @click="displayModal">Hide Modal</button>
    <button v-else @click="displayModal">Show Modal</button>
    <!-- <button @closeEvent="hideModal">Hide Modal</button> -->
  </div>
</template>

<script>
import { ref } from 'vue'
import Modal from './components/Modal.vue'
import HelloWorld from './components/HelloWorld.vue'

export default {
  components: { Modal, HelloWorld },
  name: 'App',
  data() {
    return {
      image_path: "@/assets/logo.png",
      title: "Welcome to softcomweb",
      modal_content: "Welcome to the Model Component",
      slot_head: "Welcome to the Slot head",
      slot_content: "This is the Slot content",
      name: ref(null),
      showModal: false,
      persons: [
        {
          "firstname": "foo",
          "lastname": "bar",
          "age": 10
        },
        {
          "firstname": "alice",
          "lastname": "kolo",
          "age": 20
        }
      ]
    }
  },
  methods: {
    submitName() {
      this.name = this.persons.find(n => n.firstname == this.$refs.person_name.value)
      //Dynamic add class to an element
      this.$refs.person_name.classList.add('active')
      //Set focus of the cursor to the element
      this.$refs.person_name.focus()
    },
    displayModal() {
      console.log(this.showModal)
      this.showModal = true
    },
    hideModal() {
      console.log(this.showModal)
      this.showModal = false
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1 {
  border-bottom: 5px dashed #dd2;
  display: inline-block;
  padding-bottom: 10px;
}
.active {
  background-color: #dd2;
}
.main {
  text-align: center;
  color: yellow;
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
  background: blue;
  border-radius: 10px;
}

a {
        color: rgb(134, 9, 9);
        text-align: center;
        margin: 10px;
        border: 5px solid #333;
        border-radius: 4px;
        text-decoration: none;
    }

</style>
