/* ----------------------------------------------------------------
	Colors

	Replace the HEX Code with your Desired Color HEX
-----------------------------------------------------------------*/


::selection { background: #0072ce; }

::-moz-selection { background: #0072ce; }

::-webkit-selection { background: #0072ce; }


a,
h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
.menu-item:hover > .menu-link,
.menu-item.current > .menu-link,
.dark .menu-item:hover > .menu-link,
.dark .menu-item.current > .menu-link,
.portfolio-desc h3 a:hover,
.entry-title h2 a:hover,
.entry-title h3 a:hover,
.entry-title h4 a:hover,
.fbox-plain .fbox-icon i,
.fbox-plain .fbox-icon img,
.dark .menu-item:hover > .menu-link,
.dark .menu-item.current > .menu-link,
.dark .portfolio-desc h3 a:hover,
.dark .entry-title h2 a:hover,
.dark .entry-title h3 a:hover,
.dark .entry-title h4 a:hover { color: #0072ce; }

.color,
.tagcloud a:hover { color: #0072ce !important; }


#page-menu-wrap,
.page-menu-nav,
.button,
.button.button-dark:hover,
.button.button-3d:hover,
.fbox-icon i,
.fbox-icon img { background-color: #0072ce; }


.heading-block.border-color::after { border-color: #0072ce; }

.border-color,
.tagcloud a:hover { border-color: #0072ce !important; }


.title-bottom-border h1,
.title-bottom-border h2,
.title-bottom-border h3,
.title-bottom-border h4,
.title-bottom-border h5 { border-bottom-color: #0072ce; }


@media (min-width: 992px) {

	.sub-menu-container .menu-item:hover > .menu-link { color: #0072ce; }

	
	.page-menu-sub-menu,
	.dark .sub-menu-container .menu-item:hover > .menu-link { background-color: #0072ce; }

	.sub-menu-container,
	.dark .sub-menu-container { border-top-color: #0072ce; }
}
