.devops-icons {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    text-align: center;
}
 
.devops-icons span {
    color: #1A80B6;
    vertical-align: middle;
    font-size: 50px;
    width: 80px;
    height: 80px;
}

.svg-icon {
  height: 8em;
  width: 8em;
  position: relative;
  display: inline-flex;
  
}

.entry-content ul, .entry-content ol {
  padding: revert;
}
