/* ----------------------------------------------------------------
	Dark Scheme
-----------------------------------------------------------------*/

/* parallax */
/*
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	perspective: 40px;
	overflow: auto;
}
*/

/* parallax end*/

.dark,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5 {
	color: #EEE;
}

.dark a:not([class*="btn-"]):hover {
	color: #EEE;
}

body.dark,
.dark #wrapper,
.dark #content,
.dark .modal-content {
	background-color: #383838;
}

.dark .css3-spinner > div {
	background-color: rgba(255,255,255,0.3);
}

.dark .line {
	border-top-color: rgba(255,255,255,0.15);
}

.dark .section,
.section.dark {
	background-color: #282828;
	border-color: rgba(255,255,255,0.1);
}

.dark #header,
#header.dark {
	background-color: #333;
}

.dark #header-wrap {
	background-color: rgb(0, 30, 98);
	transition: background-color 0.2s ease-out;
}

@media (min-width: 992px) {

	.dark #header.transparent-header,
	#header.transparent-header.dark,
	.dark #header.transparent-header:not(.sticky-header) #header-wrap,
	#header.transparent-header.dark:not(.sticky-header) #header-wrap {
		background: transparent;
	}


	.dark .sticky-header #header-wrap
	.sticky-header.dark #header-wrap {
		background-color: #333;
	}

}

@media (max-width: 991.98px) {

	.dark .sticky-header #header-wrap,
	.sticky-header.dark #header-wrap {
		background-color: #333;
	}

}


.dark #logo a {
	color: #FFF;
}

@media (min-width: 992px) {

	.dark .full-header #logo,
	.full-header.dark #logo {
	}

	.dark #header.transparent-header.full-header #logo,
	#header.transparent-header.full-header.dark #logo {
	}

}

.dark .primary-menu + .primary-menu,
.dark .menu-item:not(:first-child),
.dark .sub-menu-container,
.dark .sub-menu-container .menu-item:not(:first-child) {
	border-top-color: rgba(255,255,255,0.15);
}

.dark .menu-link {
	color: #F7F7F7;
}

.dark .primary-menu:not(.not-dark) .sub-menu-container .menu-item > .menu-link {
	color: #E5E5E5;
}

.dark .menu-item:hover > .menu-link,
.dark .menu-item.current > .menu-link {
	/*color: #007bff;*/
	color: #fff;
}

@media (max-width: 991.98px) {

	/* Off Canvas Menu
	-----------------------------------------------------------------*/

}

@media (min-width: 992px) {

	.dark .full-header .primary-menu .menu-container,
	.full-header.dark .primary-menu .menu-container {
	}

	.dark .transparent-header.full-header .primary-menu .menu-container,
	.transparent-header.full-header.dark .primary-menu .menu-container {
	}

	.dark .primary-menu:not(.not-dark) .sub-menu-container {
		background-color: #333;
		border-color: rgba(255,255,255,0.05);
		border-top-color: #007bff
		/* background-color: #343a40; */
		/* border-color: transparent; */
	}

	.dark .primary-menu:not(.not-dark) .sub-menu-container .menu-item > .menu-link {
		color: #fff;
	}

	.dark .primary-menu:not(.not-dark) .sub-menu-container .menu-item:hover > .menu-link {
		background-color: transparent;
		color: #007bff
	}

}

.dark .portfolio-desc h3 a {
	color: #F7F7F7;
}

.dark .portfolio-desc h3 a:hover {
	color: #007bff;
}

.dark .portfolio-desc span,
.dark .portfolio-desc span a {
	color: #BBB;
}

.dark .portfolio-desc span a:hover {
	color: #EEE;
}

.dark .portfolio-meta li {
	color: #BBB;
}

.dark .portfolio-meta li span {
	color: #EEE;
}

.dark .entry::after {
	background-color: rgba(255,255,255,0.2);
}


.dark .entry-title h2 a,
.dark .entry-title h3 a,
.dark .entry-title h4 a {
	color: #F7F7F7;
}

.dark .entry-title h2 a:hover,
.dark .entry-title h3 a:hover,
.dark .entry-title h4 a:hover {
	color: #007bff;
}

.dark .entry-meta li,
.dark .entry-meta a:not(:hover) {
	color: #BBB;
}

.dark td.actions {
	background-color: rgba(0,0,0,0.2);
}

.dark .event .grid-inner {
	background-color: rgba(0,0,0,0.2);
	border-bottom-color: rgba(255,255,255,0.15);
}

.dark .button-dark:not(.button-border):not(:hover),
.dark .button:hover {
	background-color: rgba(0,0,0,0.3);
}

.dark .fbox-content h3 {
	color: #F7F7F7;
}

.dark .fbox-content p {
	color: #BBB;
}

.dark .fbox-content h3 span.subtitle {
	color: #BBB;
}

.dark .fbox-bg.fbox-center {
	border-color: rgba(255,255,255,0.15);
}

.dark .fbox-bg.fbox-center .fbox-icon {
	background-color: #383838;
}

.dark .media-box.fbox-bg .fbox-content {
	background-color: rgba(0,0,0,0.2);
	border-color: rgba(255,255,255,0.15);
}

.dark .fbox-effect .fbox-icon i:after {
	box-shadow: 0 0 0 2px #494949;
}

.dark .fbox-effect .fbox-icon i:hover,
.dark .fbox-effect:hover .fbox-icon i {
	background-color: #494949;
}

.dark .i-plain {
	color: #EEE;
	text-shadow: none;
}

.dark .i-plain:hover {
	color: #CCC;
}

.dark .social-icon {
	color: #EEE;
	border-color: #AAA;
}

.dark .si-dark {
	background-color: rgba(0,0,0,0.2);
	color: #FFF !important;
	border-color: transparent;
}


.dark .accordion-header {
	color: #EEE;
}


.dark .accordion-bg .accordion-header {
	background-color: rgba(0,0,0,0.2);
}

.dark .accordion-header {
	border-top-color: rgba(255,255,255,0.15);
}

.dark .counter.counter-lined + h5::before {
	border-top-color: rgba(255,255,255,0.15);
}

.dark blockquote {
	border-left-color: rgba(255,255,255,0.15);
}

.dark .highlight {
	background-color: rgba(255,255,255,0.15);
	color: rgba(255,255,255,0.95);
}

.dark .sm-form-control {
	color: #EEE;
	background-color: rgba(0,0,0,0.3);
	border-color: rgba(255,255,255,0.15);
}

.dark .sm-form-control:focus {
	border-color: rgba(255,255,255,0.25);
}

.dark .sm-form-control::-moz-placeholder {
	color: #AAA;
}
.dark .sm-form-control:-ms-input-placeholder {
	color: #AAA;
}
.dark .sm-form-control::-webkit-input-placeholder {
	color: #AAA;
}


.dark .sm-form-control[readonly] {
	background-color: #eeeeee;
}

.dark label {
	color: #E5E5E5;
}

.dark .heading-block > span:not(.before-heading) {
	color: rgba(255,255,255,0.65);
}

.dark .heading-block::after {
	border-top-color: rgba(255,255,255,0.7);
}

.dark .fancy-title::before,
.dark .fancy-title::after {
	border-top-color: rgba(255,255,255,0.15);
}

.dark .before-heading {
	color: rgba(255,255,255,0.7);
}

.dark .divider {
	color: rgba(255,255,255,0.15);
}

.dark .divider::after,
.dark .divider::before {
	background-color: rgba(255,255,255,0.15);
}

.dark .divider a:hover {
	color: #CCC;
}


.dark .form-process::before {
	background-color: #383838;
}


.dark #footer,
#footer.dark {
	color: rgba(255,255,255,0.75);
	background-color: #282828;
	border-top-color: rgba(255,255,255,0.15);
}

.dark .footer-widgets-wrap a {
	color: rgba(255,255,255,0.75);
}

.dark .footer-widgets-wrap a:hover {
	color: rgba(255,255,255,0.85);
}

.dark #footer .social-icon.si-borderless,
#footer.dark .social-icon.si-borderless {
	color: rgba(255,255,255,0.5) !important;
}

.dark #copyrights,
#copyrights.dark {
	color: rgba(255,255,255,0.4);
	background-color: rgba(0,0,0,0.2);
}

.dark .copyright-links a {
	color: rgba(255,255,255,0.4);
	border-bottom-color: rgba(255,255,255,0.65);
}

.dark .copyright-links a:hover {
	color: rgba(255,255,255,0.6);
	border-bottom-color: rgba(255,255,255,0.7);
}

.dark .tagcloud a {
	border-color: rgba(255,255,255,0.15);
	color: rgba(255,255,255,0.6);
}


.dark .widget_links li a {
	color: rgba(255,255,255,0.8);
}


.dark .widget_links li a:hover {
	color: rgba(255,255,255,0.9);
}


/* Dark Scheme - Bootstrap
-----------------------------------------------------------------*/

.dark hr { border-top-color: rgba(255,255,255,0.1); }

.dark blockquote { border-left-color: rgba(255,255,255,0.2); }

.dark code {
	color: #DF6F72;
	background-color: rgba(0,0,0,0.3);
}

.dark pre {
	color: #FFF;
	background-color: rgba(0,0,0,0.3);
	border-color: rgba(255,255,255,0.15);
}

.dark .table {
	color: #EEE;
}

.dark .table > thead > tr > th,
.dark .table > tbody > tr > th,
.dark .table > thead > tr > td,
.dark .table > tbody > tr > td { border-top-color: rgba(255,255,255,0.1); }

.dark .table > thead > tr > th { border-bottom-color: rgba(255,255,255,0.1); }

.dark .table > tbody + tbody { border-top-color: rgba(255,255,255,0.1); }

.dark .table .table { background-color: rgba(0,0,0,0.2); }

.dark .table > thead > tr > td.active,
.dark .table > tbody > tr > td.active,
.dark .table > thead > tr > th.active,
.dark .table > tbody > tr > th.active,
.dark .table > thead > tr.active > td,
.dark .table > tbody > tr.active > td,
.dark .table > thead > tr.active > th,
.dark .table > tbody > tr.active > th { background-color: rgba(0,0,0,0.1); }

.dark output { color: #999; }


.dark .sm-form-control:not(.not-dark) {
	color: #999;
	background-color: rgba(0,0,0,0.2);
	border-color: rgba(255,255,255,0.15);
}


.dark .sm-form-control:not(.not-dark) option { background-color: #282828; }


.dark .sm-form-control:not(.not-dark):active,
.dark .sm-form-control:not(.not-dark):focus {
	background-color: rgba(0,0,0,0.3);
	border-color: rgba(255,255,255,0.25) !important;
}
.dark .sm-form-control:not(.not-dark)::-moz-placeholder { color: #666; }
.dark .sm-form-control:not(.not-dark):-ms-input-placeholder { color: #666; }
.dark .sm-form-control:not(.not-dark)::-webkit-input-placeholder { color: #666; }


.dark .sm-form-control:not(.not-dark)[readonly] { background-color: rgba(255,255,255,0.1); }

.dark .nav > li > a:hover,
.dark .nav > li > a:focus,
.dark .nav .open > a,
.dark .nav .open > a:hover,
.dark .nav .open > a:focus { background-color: rgba(0,0,0,0.2); }

.dark .close {
	opacity: 1;
	color: rgba(0,0,0,0.15);
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.dark .close:hover,
.dark .close:focus {
	color: rgba(0,0,0,0.4);
}

.dark .modal-content { border-color: #555; }

.dark .modal-header { border-bottom-color: rgba(255,255,255,0.15); }

.dark .modal-footer { border-top-color: rgba(255,255,255,0.15); }

