/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2") format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  font-display: swap;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/pxiEyp8kv8JHgFVrJJbecmNE.woff2") format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  font-display: swap;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/pxiEyp8kv8JHgFVrJJnecmNE.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/pxiEyp8kv8JHgFVrJJfecg.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2") format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  font-display: swap;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2") format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  font-display: swap;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2") format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  font-display: swap;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}


@font-face {
	font-family: 'font-icons';
	src:url('fonts/font-icons.eot');
	src:url('fonts/font-icons.eot') format('embedded-opentype'),
		url('fonts/font-icons.woff') format('woff'),
		url('fonts/font-icons.ttf') format('truetype'),
		url('fonts/font-icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lined-icons';
	src:url('fonts/lined-icons.eot');
	src:url('fonts/lined-icons.eot') format('embedded-opentype'),
		url('fonts/lined-icons.woff') format('woff'),
		url('fonts/lined-icons.ttf') format('truetype'),
		url('fonts/lined-icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Simple-Line-Icons';
	src:url('fonts/Simple-Line-Icons.eot');
	src:url('fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/Simple-Line-Icons.woff') format('woff'),
		url('fonts/Simple-Line-Icons.ttf') format('truetype'),
		url('fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

[class^="icon-"], [class*=" icon-"],
[class^="icon-line-"], [class*=" icon-line-"],
[class^="icon-line2-"], [class*=" icon-line2-"] {
	display: inline-block;
	font-family: 'font-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-line-"], [class*=" icon-line-"] { font-family: 'lined-icons'; }

[class^="icon-line2-"], [class*=" icon-line2-"] { font-family: 'Simple-Line-Icons'; }

.iconlist {
	padding-left: 0;
	margin-left: 0;
	list-style-type: none;
}

.iconlist li { position: relative; }

.iconlist ul {
	list-style-type: none;
	margin: 0.5rem 0 0.5rem 1.5rem;
}

.iconlist > li [class^="icon-"]:first-child, .iconlist > li [class*=" icon-"]:first-child {
	position: relative;
	display: inline-block;
	width: 1.75em;
	text-align: center;
	top: 1px;
	width: 14px;
	margin-right: 0.5rem;
}

.iconlist-color li i {
	color: #1ABC9C;
	color: var(--themecolor);
}
@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(359deg);
	}
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
	}
}
@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(359deg);
	}
}
@-ms-keyframes spin {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
.icon-envelope2:before {
	content: "\e603";
}
.icon-screen:before {
	content: "\e671";
}
.icon-stack:before {
	content: "\e67f";
}
.icon-bucket:before {
	content: "\e688";
}
.icon-params:before {
	content: "\e693";
}
.icon-bulb:before {
	content: "\e6a3";
}
.icon-mail:before {
	content: "\e6ab";
}
.icon-star3:before {
	content: "\e6c1";
}
.icon-film1:before {
	content: "\e6c4";
}
.icon-ok:before {
	content: "\e6c8";
}
.icon-time:before {
	content: "\e6d2";
}
.icon-map-marker2:before {
	content: "\e6f9";
}
.icon-plus-sign:before {
	content: "\e70c";
}
.icon-ok-sign:before {
	content: "\e70f";
}
.icon-remove-circle:before {
	content: "\e713";
}
.icon-ok-circle:before {
	content: "\e714";
}
.icon-calendar3:before {
	content: "\e728";
}
.icon-phone3:before {
	content: "\e748";
}
.icon-reorder:before {
	content: "\e76d";
}
.icon-angle-down:before {
	content: "\e7a7";
}
.icon-file-text:before {
	content: "\e7f7";
}
.icon-facebook:before {
	content: "\e86f";
}
.icon-caret-right:before {
	content: "\e978";
}
.icon-cloud:before {
	content: "\e9a9";
}
.icon-cog:before {
	content: "\e9ae";
}
.icon-cogs:before {
	content: "\e9af";
}
.icon-external-link-alt:before {
	content: "\e9fc";
}
.icon-eye:before {
	content: "\ea00";
}
.icon-folder-open:before {
	content: "\ea2c";
}
.icon-headphones:before {
	content: "\ea72";
}
.icon-info:before {
	content: "\ea8f";
}
.icon-lightbulb:before {
	content: "\eaac";
}
.icon-link:before {
	content: "\eaad";
}
.icon-magic:before {
	content: "\eabc";
}
.icon-pen:before {
	content: "\eb0a";
}
.icon-thumbs-up:before {
	content: "\ebc8";
}
.icon-user:before {
	content: "\ec07";
}
.icon-amazon:before {
	content: "\eccc";
}
.icon-github:before {
	content: "\ed50";
}
.icon-google:before {
	content: "\ed5f";
}
.icon-linkedin:before {
	content: "\ed8b";
}
.icon-xing:before {
	content: "\ee36";
}

.icon-line-eye:before {
	content: "\e000";
}
.icon-line-monitor:before {
	content: "\e021";
}
.icon-line-circle-check:before {
	content: "\e042";
}
.icon-line-play:before {
	content: "\e052";
}
.icon-line-star:before {
	content: "\e093";
}
.icon-line-arrow-right:before {
	content: "\e095";
}
.icon-line-check:before {
	content: "\e116";
}
.icon-line2-users:before {
	content: "\e001";
}
