/*-----------------------------------------------------------------------------------

	Theme Name: Canvas
	Theme URI: http://themes.semicolonweb.com/html/canvas
	Description: The Multi-Purpose Template
	Author: SemiColonWeb
	Author URI: http://themeforest.net/user/semicolonweb
	Version: 6.0

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------

	- Basic
	- Typography
	- Basic Layout Styles
	- Helper Classes
	- Sections
	- Columns & Grids
	- Flex Slider
	- Swiper Slider
	- Top Bar
	- Header
		- Logo
		- Primary Menu
		- Mega Menu
		- Top Search
		- Top Cart
		- Sticky Header
		- Page Menu
		- Side Header
	- Side Panel
	- Slider
	- Page Title
	- Content
	- Portfolio
	- Blog
	- Shop
	- Events
	- Shortcodes
		- Countdown
		- Buttons
		- Promo Boxes
		- Featured Boxes
		- Process Steps
		- Styled Icons
		- Toggles
		- Accordions
		- Tabs
		- Side Navigation
		- FAQ List
		- Clients
		- Testimonials
		- Team
		- Pricing Boxes
		- Counter
		- Animated Rounded Skills
		- Skills Bar
		- Dropcaps & Highlights
		- Quotes & Blockquotes
		- Text Rotater
	- Owl Carousel
	- Overlays
	- Forms
	- Google Maps
	- Heading Styles
	- Divider
	- Magazine Specific Classes
	- Go To Top
	- Error 404
	- Landing Pages
	- Preloaders
	- Toastr Notifications
	- Footer
	- Widgets
		- Tag Cloud
		- Links
		- Testimonial & Twitter
		- Quick Contact Form
		- Newsletter
		- Twitter Feed
		- Navigation Tree
	- Wedding
	- Bootstrap Specific
	- Cookie Notification
	- Stretched Layout
	- Page Transitions
	- Youtube Video Backgrounds

---------------------------------------------------------------- */


/* ----------------------------------------------------------------
	Bootstrap Adjustments
-----------------------------------------------------------------*/


@media (min-width: 1440px) {
	.container { max-width: 1320px; }
}

/* ----------------------------------------------------------------
	Basic
-----------------------------------------------------------------*/

 dd, ol, ul, li {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow:hidden;
}

::selection {
	background: #0072ce;
	color: #FFF;
	text-shadow: none;
}

::-moz-selection {
	background: #0072ce; /* Firefox */
	color: #FFF;
	text-shadow: none;
}

::-webkit-selection {
	background: #0072ce; /* Safari */
	color: #FFF;
	text-shadow: none;
}


/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/


body {
	line-height: 1.5;
	color: #555;
/*	font-family: 'Lato', sans-serif;*/
	font-family: 'Poppins';

}

a {
	text-decoration: none !important;
	color: #0072ce;
}

a:hover { color: #222; }

a img { border: none; }

img { max-width: 100%; }

iframe {
	width: 100%;
	border: 0 !important;
	overflow: hidden !important;
}


/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/


h1,
h2,
h3,
h4,
h5 {
	color: #444;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 30px 0;
	font-family: 'Poppins', sans-serif;
}

h5 { margin-bottom: 20px; }

h1 { font-size: 36px; }

h2 { font-size: 30px; }

h3 { font-size: 1.5rem; }

h4 { font-size: 18px; }

h5 { font-size: 0.875rem; }

h4 { font-weight: 600; }

h5 { font-weight: bold; }

@media (max-width: 767.98px) {

	h1 {
		font-size: 1.75rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	h4 {
		font-size: 1rem;
	}

}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge) { color: #0072ce; }

p,
pre,
ul,
ol,
dd,
blockquote,
address,
table,
form { margin-bottom: 30px; }

small { font-family: 'Lato', sans-serif; }


/* ----------------------------------------------------------------
	Helper Classes
-----------------------------------------------------------------*/

#wrapper {
	position: relative;
	float: none;
	width: 100%;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (min-width: 1200px) {
	body:not(.stretched) #wrapper {
		max-width: 1200px;
	}
}

@media (min-width: 1440px) {
	body:not(.stretched) #wrapper {
		max-width: 1440px;
	}
}

.line {
	clear: both;
	position: relative;
	width: 100%;
	margin: 4rem 0;
	border-top: 1px solid #EEE;
}

span.middot {
	display: inline-block;
	margin: 0 5px;
}

.nott { text-transform: none !important; }

.topmargin { margin-top: 3rem !important; }

.bottommargin { margin-bottom: 3rem !important; }

.topmargin-sm { margin-top: 2rem !important; }

.bottommargin-sm { margin-bottom: 2rem !important; }

.topmargin-lg { margin-top: 5rem !important; }

.bottommargin-lg { margin-bottom: 5rem !important; }

.col-padding { padding: 4rem; }

.inline-block {
	float: none !important;
	display: inline-block !important;
}

.center { text-align: center !important; }

.mx-auto {
	float: none !important;
}

.color { color: #0072ce !important; }

.border-color { border-color: #0072ce !important; }

.ls4 { letter-spacing: 4px !important; }

.font-secondary { font-family: 'Poppins', serif; }

.font-weight-medium {
	font-weight: 500 !important;
}

.bgicon {
	display: block;
	position: absolute;
	bottom: -60px;
	right: -50px;
	font-size: 210px;
	color: rgba(0,0,0,0.1);
}

.grayscale {
	filter: brightness(80%) grayscale(1) contrast(90%);
	-webkit-filter: brightness(80%) grayscale(1) contrast(90%);
	-moz-filter: brightness(80%) grayscale(1) contrast(90%);
	-o-filter: brightness(80%) grayscale(1) contrast(90%);
	-ms-filter: brightness(80%) grayscale(1) contrast(90%);
	transition: 1s filter ease;
	-webkit-transition: 1s -webkit-filter ease;
	-moz-transition: 1s -moz-filter ease;
	-ms-transition: 1s -ms-filter ease;
	-o-transition: 1s -o-filter ease;
}

.grayscale:hover {
	filter: brightness(100%) grayscale(0);
	-webkit-filter: brightness(100%) grayscale(0);
	-moz-filter: brightness(100%) grayscale(0);
	-o-filter: brightness(100%) grayscale(0);
	-ms-filter: brightness(100%) grayscale(0);
}

/* MOVING BG -  TESTIMONIALS */
 @-webkit-keyframes BgAnimated {
	from  {background-position:0 0;}
	to    {background-position:0 400px;}
	}
 @-moz-keyframes BgAnimated {
	from  {background-position:0 0;}
	to    {background-position:0 400px;}
	}
 @-ms-keyframes BgAnimated {
	from  {background-position:0 0;}
	to    {background-position:0 400px;}
	}
 @-o-keyframes BgAnimated {
	from  {background-position:0 0;}
	to    {background-position:0 400px;}
	}
 @keyframes BgAnimated {
	from  {background-position:0 0;}
	to    {background-position:0 400px;}
	}


/*	Opacity Utility Classes */


/*	Text Color Utility Classes */


/* Text Sizing Utility */


/*	BG Color Utility Classes */


/* ----------------------------------------------------------------
	Gradient Utility Classes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Bootstrap Utility Classes: Extended
-----------------------------------------------------------------*/


/*	Spacing Utilities */

.mt-6 {
	margin-top: 5rem !important;
}


/*	Custom Bootstrap Column */


/*	Gutters */

.gutter-20 {
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: -20px;
}

.gutter-20 > .col,
.gutter-20 > [class*="col-"] {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
}

.col-mb-30 {
	margin-bottom: -30px;
}

.col-mb-30 > .col,
.col-mb-30 > [class*="col-"] {
	padding-bottom: 30px;
}

.col-mb-50 {
	margin-bottom: -50px;
}

.col-mb-50 > .col,
.col-mb-50 > [class*="col-"] {
	padding-bottom: 50px;
}

@media (min-width: 576px) {

	.gutter-sm-50 {
		margin-right: -25px;
		margin-left: -25px;
		margin-bottom: -50px;
	}

	.gutter-sm-50 > .col,
	.gutter-sm-50 > [class*="col-"] {
		padding-right: 25px;
		padding-left: 25px;
		padding-bottom: 50px;
	}
}


/* ----------------------------------------------------------------
	Height Utility Classes
-----------------------------------------------------------------*/

.min-vh-40 {
	min-height: 40vh !important;
}


/* ----------------------------------------------------------------
	Position Utility Classes: Extended
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Lazy Loading
-----------------------------------------------------------------*/

.lazy {
	opacity: 0;
}

.lazy:not(.initial) {
	transition: opacity 1s;
}

.lazy.initial,
.lazy.lazy-loaded {
	opacity: 1;
}

img.lazy {
	max-width: 100%;
	height: auto;
}

img.lazy:not([src]) {
	visibility: hidden;
}


/* ----------------------------------------------------------------
	Sections
-----------------------------------------------------------------*/


.section {
	position: relative;
	width: 100%;
	margin: 60px 0;
	padding: 60px 0;
	background-color: #F9F9F9;
	overflow: hidden;
}

.parallax {
	background-color: transparent;
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	overflow: hidden;
	will-change: transform;
}

.section .container { z-index: 2; }


/* ----------------------------------------------------------------
	Columns & Grids
-----------------------------------------------------------------*/



.sidebar {
	position: relative;
}


/* ----------------------------------------------------------------
	Flex Slider
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Top Bar
-----------------------------------------------------------------*/


/* Top Links
---------------------------------*/

/* .top-links-item > a {
	display: block;
	padding: 12px;
	font-size: 0.90rem;
	line-height: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #666;
} */


/* Top Social
-----------------------------------------------------------------*/


/* Top Login
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


#header {
	position: relative;
	background-color: #FFF;
	border-bottom: 1px solid #F5F5F5;
}

#header-wrap {
	position: relative;
	background-color: #FFF;
	width: 100%;
}

.header-row {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (min-width: 992px) {

	#header-wrap {
		position: fixed;
		height: auto;
		z-index: 299;
		box-shadow: 0 0 0 rgba(0,0,0,0.1);
		transition: height .2s ease 0s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: left, top, transform;
	}

	
	div + #header-wrap,
	body:not(.stretched) #header:not(.sticky-header) #header-wrap {
		position: absolute;
	}

	.header-row {
		position: initial;
	}

	#header.transparent-header,
	#header.transparent-header:not(.sticky-header) #header-wrap {
		background: transparent;
		z-index: 299;
	}

	#header.full-header:not(.transparent-header) { border-bottom-color: #EEE; }

	.stretched .full-header #header-wrap > .container {
		width: 100%;
		max-width: none;
		padding: 0 30px;
	}

	#header.transparent-header.full-header #header-wrap {
	}

	/* ----------------------------------------------------------------
		Sticky Header
	-----------------------------------------------------------------*/

	#logo img {
		-webkit-transition: height .2s ease-out, padding .2s ease-out, margin .2s ease-out, opacity .2s ease-out;
		transition: height .2s ease-out, padding .2s ease-out, margin .2s ease-out, opacity .2s ease-out;
	}

	#logo img { max-height: 100%; }

	.sub-menu-container {
		-webkit-transition: top .2s ease-out;
		transition: top .2s ease-out;
	}

	.sticky-header #header-wrap {
		position: fixed;
		top: 0;
		left: 0;
		background-color: #FFF;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}

	.sticky-header.full-header #header-wrap {
	}

	.sticky-header-shrink .menu-container > .menu-item > .menu-link {
		line-height: 22px;
		padding-top: 29px;
		padding-bottom: 19px;
	}

	/* Primary Menu - Style 3
	-----------------------------------------------------------------*/

	/* Primary Menu - Style 4
	-----------------------------------------------------------------*/

	/* Primary Menu - Style 5
	-----------------------------------------------------------------*/

}

@media (max-width: 991.98px) {

	.sticky-header #header-wrap {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 299;
		background-color: #FFF;
		border-bottom: 1px solid #EEE;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}

	.sticky-header .menu-container {
		max-height: 60vh;
		margin: 1rem 0;
		overflow-x: hidden;
		overflow-y: scroll;
	}

}


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/


#logo {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-ms-flex-align: center;
	margin-right: auto;
	max-height: 100%;
}

#logo a {
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
}

#logo img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

@media (min-width: 992px) {

	.full-header #logo {
		padding-right: 30px;
	}

	#header.transparent-header.full-header #logo {
	}

}


/* ----------------------------------------------------------------
	Retina Logo
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header Right Area
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

.primary-menu {
	display: -ms-flexbox;
	display: flex;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-align: center;
	align-items: center;
}

.primary-menu + .primary-menu {
	border-top: 1px solid #EEE;
}

#primary-menu-trigger,
#page-menu-trigger {
	display: -ms-flex;
	display: flex;
	opacity: 1;
	pointer-events: auto;
	z-index: 1;
	cursor: pointer;
	font-size: 0.875rem;
	width: 50px;
	height: 50px;
	line-height: 50px;
	justify-content: center;
	align-items: center;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
}

.menu-container {
	display: none;
	list-style: none;
	margin: 0;
	width: 100%;
}

.menu-item {
	position: relative;
}

.menu-item:not(:first-child) {
	border-top: 1px solid #EEE;
}

.menu-link {
	display: block;
	line-height: 22px;
	padding: 14px 5px;
	color: #444;
	font-weight: 700;
	font-size: 0.8125rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}

.menu-link span {
	display: none;
}

.menu-link i {
	position: relative;
	top: -1px;
	font-size: 0.875rem;
	width: 16px;
	text-align: center;
	margin-right: 6px;
	vertical-align: top;
}

.menu-item:hover > .menu-link,
.menu-item.current > .menu-link {
	color: #0072ce;
}

.menu-item.sub-menu > .menu-link > div { }

.sub-menu-container {
	position: relative;
	padding-left: 15px;
	border-top: 1px solid #EEE;
	list-style: none;
	margin-bottom: 0;
}

.sub-menu-container .menu-item:not(:first-child) {
	border-top: 1px solid #EEE;
}

.sub-menu-container .menu-item > .menu-link {
	position: relative;
	padding: 11px 5px;
	font-size: 0.75rem;
	font-weight: 400;
	color: #666;
	letter-spacing: 0;
	font-family: 'Lato', sans-serif;
}

.sub-menu-container .menu-item:hover > .menu-link {
	font-weight: 700;
	color: #0072ce;
}

.sub-menu-container .menu-link div {
	position: relative;
}

.menu-link div > i.icon-angle-down {
	display: none;
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

@media (max-width: 991.98px) {

	.primary-menu > .container {
		max-width: none;
		padding: 0;
	}

}

/* Off Canvas Menu
-----------------------------------------------------------------*/

@media (min-width: 992px) {

	.primary-menu {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		-ms-flex-positive: 0;
		flex-grow: 0;
	}

	.primary-menu + .primary-menu {
		border-top: 0;
	}

	#primary-menu-trigger,
	#page-menu-trigger {
		display: none;
		opacity: 0;
		pointer-events: none;
		z-index: 0;
	}

	.menu-container:not(.mobile-primary-menu) {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-align: center;
		align-items: center;
	}

	.full-header .primary-menu .menu-container {
		padding-right: 0.5rem;
		margin-right: 0.5rem;
	}

	.transparent-header.full-header .primary-menu .menu-container {}

	.mega-menu { position: inherit; }

	.menu-container > .menu-item:not(:first-child) {
		margin-left: 2px;
	}

	.menu-item:not(:first-child) {
		border-top: 0;
	}

	.menu-link {
		padding: 39px 15px;
		-webkit-transition: margin .2s ease, padding .2s ease;
		-o-transition: margin .2s ease, padding .2s ease;
		transition: margin .2s ease, padding .2s ease;
	}

	.sub-menu-container {
		position: absolute;
		visibility: hidden;
		width: 220px;
		background-color: #FFF;
		box-shadow: none;
		border: 1px solid #EEE;
		border-top: 2px solid #0072ce;
		z-index: 399;
		top: 100%;
		left: 0;
		padding: 0;
	}

	.menu-container > .menu-item:not(.mega-menu) .sub-menu-container { padding: 10px; }

	/* Sub-Menu On-Hover Dropdown */
	.primary-menu:not(.on-click) .menu-item:not(.mega-menu) .sub-menu-container {
		display: block;
		opacity: 0;
		margin-top: 15px;
		z-index: -9999;
		pointer-events: none;
		transition: opacity .2s ease, margin .25s ease;
	}

	.primary-menu:not(.on-click) .menu-item:hover > .sub-menu-container {
		opacity: 1;
		visibility: visible;
		margin-top: 0;
		z-index: 399;
		pointer-events: auto;
	}

	.primary-menu:not(.on-click) .menu-item:not(:hover) > .sub-menu-container > * {
		display: none;
	}

	.sub-menu-container .sub-menu-container {
		list-style: none;
		top: -2px !important;
		left: 100%;
	}

	.sub-menu-container .menu-item:not(:first-child) {
		border-top: 0;
	}

	.sub-menu-container .menu-item > .menu-link {
		padding: 10px 15px;
		font-weight: 700;
		border: 0;
		-webkit-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.sub-menu-container .menu-item > .menu-link i { vertical-align: middle; }

	.sub-menu-container .menu-item:hover > .menu-link {
		background-color: #F9F9F9;
		padding-left: 18px;
		color: #0072ce;
	}

	.menu-link div > i.icon-angle-down {
		top: 0;
		font-size: 0.875rem;
		margin: 0 0 0 5px;
	}

	.sub-menu-container .menu-link div > i.icon-angle-down {
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		font-size: 0.875rem;
		line-height: 1;
		margin: 0;
		transform: translateY(-50%) rotate(-90deg);
	}

	/* ----------------------------------------------------------------
		Mega Menu
	-----------------------------------------------------------------*/

	.sub-menu-container .mega-menu {
		position: relative;
	}

	/* Sub-Menu On-Click Dropdown */
	.on-click .sub-menu-container {
		display: none;
		visibility: visible;
	}


	/* Primary Menu - Style 2
	-----------------------------------------------------------------*/


	/* Primary Menu - Style 3
	-----------------------------------------------------------------*/


	/* Primary Menu - Style 4
	-----------------------------------------------------------------*/


	/* Primary Menu - Style 5
	-----------------------------------------------------------------*/


	/* Primary Menu - Style 6
	-----------------------------------------------------------------*/


	/* Primary Menu - Sub Title
	-----------------------------------------------------------------*/


	/* ----------------------------------------------------------------
		Side Header
	-----------------------------------------------------------------*/


	/* Side Header - Push Header
	-----------------------------------------------------------------*/


	/* Side Header - Right Aligned
	-----------------------------------------------------------------*/


	/* Primary Menu - Overlay Menu
	-----------------------------------------------------------------*/

}


/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/

/* Top Search Animation */


/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Menu
-----------------------------------------------------------------*/

#page-menu {
	position: relative;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#page-menu-wrap {
	position: absolute;
	z-index: 199;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #0072ce;
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

#page-menu-trigger {
	opacity: 1;
	pointer-events: auto;
	top: 0;
	margin-top: 0;
	left: auto;
	right: 15px;
	width: 40px;
	height: 44px;
	line-height: 44px;
	color: #FFF;
}

.page-menu-row {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.page-menu-title {
	color: #FFF;
	font-size: 1.25rem;
	font-weight: 300;
	margin-right: auto;
}

.page-menu-title span { font-weight: 700; }

.page-menu-nav {
	display: none;
	position: absolute;
	width: 200px;
	top: 100%;
	left: auto;
	right: 0;
	height: auto;
	background-color: #0072ce;
}

.page-menu-nav .page-menu-container {
	margin: 0;
	list-style: none;
	background-color: rgba(0,0,0,0.2);
}

.page-menu-item {
	position: relative;
}

.page-menu-item > a {
	display: block;
	position: relative;
	line-height: 22px;
	padding: 11px 14px;
	color: #FFF;
	font-size: 0.875rem;
}

.page-menu-item:hover > a,
.page-menu-item.current > a { background-color: rgba(0,0,0,0.15); }

.page-menu-item > a .icon-angle-down {
	position: absolute;
	top: 50%;
	left: auto;
	right: 14px;
	transform: translateY(-50%);
}

.page-menu-sub-menu {
	display: none;
	background-color: rgba(0,0,0,0.15);
	list-style: none;
	padding: 1px 10px 5px;
}

.page-menu-item:hover > .page-menu-sub-menu {
	display: block;
}

.page-menu-sub-menu .page-menu-item > a {
	margin: 5px 0;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 14px;
}

@media (min-width: 992px) {

	.page-menu-nav {
		display: -ms-flex;
		display: flex;
		position: relative;
		width: auto;
		top: 0;
		left: 0;
		background-color: transparent;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		-ms-flex-positive: 0;
		flex-grow: 0;
	}

	.page-menu-nav .page-menu-container {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
		list-style: none;
		background-color: transparent;
	}

	.page-menu-item > a {
		margin: 10px 4px;
		padding-top: 3px;
		padding-bottom: 3px;
		border-radius: 14px;
	}

	.page-menu-item > a .icon-angle-down {
		position: relative;
		top: 1px;
		left: 0;
		right: 0;
		margin-left: 8px;
		transform: none;
	}

	body:not(.device-touch) .page-menu-item > a {
		-webkit-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.page-menu-sub-menu {
		display: none;
		position: absolute;
		list-style: none;
		width: auto;
		top: 100%;
		right: 0;
		padding: 0;
		background-color: #0072ce;
	}

	.page-menu-sub-menu .page-menu-item > a {
		height: auto;
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 0;
		white-space: nowrap;
		background-color: rgba(0,0,0,0.15);
	}

	.page-menu-sub-menu li:hover a,
	.page-menu-sub-menu li.current a { background-color: rgba(0,0,0,0.3); }


	/* Page Menu - Dots Style
	-----------------------------------------------------------------*/

}


/* ----------------------------------------------------------------
	One Page
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Side Push Panel
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Slider
-----------------------------------------------------------------*/


/* Boxed Slider
-----------------------------------------------------------------*/


/* Swiper Slider
-----------------------------------------------------------------*/


/* Video Overlay
-----------------------------------------------------------------*/


/* Slider Caption
-----------------------------------------------------------------*/


/* Slider Arrows
-----------------------------------------------------------------*/


/* Slide Number
-----------------------------------------------------------------*/


/* Pagination
-----------------------------------------------------------------*/


/* Flex Slider - Navigation
-----------------------------------------------------------------*/


/* Flex Slider - Pagination & Thumbs
-----------------------------------------------------------------*/


/* Flex Slider: Pagination Positions
-----------------------------------------------------------------*/

/* Flex Slider: Thumbs
-----------------------------------------------------------------*/


/* FlexSlider: Thumbs - Flexible
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/

/* Page Title - Dark
-----------------------------------------------------------------*/

/* Page Title - Right Aligned
-----------------------------------------------------------------*/

/* Page Title - Center Aligned
-----------------------------------------------------------------*/

/* Page Title - Background Pattern
-----------------------------------------------------------------*/

/* Page Title - Parallax Background
-----------------------------------------------------------------*/


/* Page Title - Mini
-----------------------------------------------------------------*/


/* Page Title - No Background
-----------------------------------------------------------------*/


/* Page Title - Video
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Content
-----------------------------------------------------------------*/


#content {
	position: relative;
	background-color: #FFF;
}

#content p { line-height: 1.8; }

.content-wrap {
	position: relative;
	padding: 80px 0;
	overflow: hidden;
}

#content .container { position: relative; }

.grid-container,
.grid-inner {
	position: relative;
	overflow: hidden;
}

.grid-inner {
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

body:not(.device-touch) .grid-container {
	-webkit-transition: height .2s ease;
	-o-transition: height .2s ease;
	transition: height .2s ease;
}


/* ----------------------------------------------------------------
	Portfolio
-----------------------------------------------------------------*/


/* Grid Filter
-----------------------------------------------------------------*/


/* Grid Filter: Style 2
-----------------------------------------------------------------*/


/* Grid Filter: Style 3
-----------------------------------------------------------------*/


/* Grid Filter: Style 4
-----------------------------------------------------------------*/


/* Portfolio - Shuffle Icon
-----------------------------------------------------------------*/


/* Portfolio - Items
-----------------------------------------------------------------*/

.portfolio,
.portfolio-item {
	position: relative;
}

body:not(.device-touch) .portfolio {
	-webkit-transition: height .2s linear;
	-o-transition: height .2s linear;
	transition: height .2s linear;
}

.portfolio-item .portfolio-image {
	position: relative;
	overflow: hidden;
}

.portfolio-item .portfolio-image,
.portfolio-item .portfolio-image > a,
.portfolio-item .portfolio-image img {
	display: block;
	width: 100%;
	height: auto;
}

.portfolio-line {
	clear: both;
	position: relative;
	width: 100%;
	margin: 2rem 0;
	border-top: 1px solid #EEE;
}


/* Portfolio - Item Title
-----------------------------------------------------------------*/

.portfolio-desc {
	position: relative;
	z-index: 6;
	padding: 20px 5px;
}

.portfolio-desc h3 {
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
}

.portfolio-desc h3 a {
	color: #222;
}

.portfolio-desc h3 a:hover {
	color: #0072ce;
}

.portfolio-desc span {
	display: block;
}

.portfolio-desc span,
.portfolio-desc span a {
	color: #888;
}

.portfolio-desc span a:hover {
	color: #000;
}

.portfolio.no-gutters .portfolio-desc {
	padding-left: 15px;
	padding-right: 15px;
}


/* Portfolio - Parallax
-----------------------------------------------------------------*/


/* Portfolio Single
-----------------------------------------------------------------*/


/* Portfolio Single - Image
-----------------------------------------------------------------*/

.portfolio-single-image > a,
.portfolio-single-image .slide a,
.portfolio-single-image img,
.portfolio-single-image iframe,
.portfolio-single-image video {
	display: block;
	width: 100%;
}


/* Masonry Thumbs
-----------------------------------------------------------------*/

.masonry-thumbs {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -1px;
	margin-right: -1px;
	margin-bottom: -2px;
}

.masonry-thumbs .grid-item {
	display: block;
	position: relative;
	width: 25%;
	max-width: 100%;
	height: auto;
	overflow: hidden;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-top: 0;
}

.grid-item > img,
.grid-item .grid-inner > img {
	width: 100%;
	height: auto;
	border-radius: 0;
}

.grid-1 > .grid-item {
	width: 100%;
}

.grid-2 > .grid-item {
	width: 50%;
}


/* Portfolio Single - Content
-----------------------------------------------------------------*/

.portfolio-single-content h2 {
	margin: 0 0 20px;
	padding: 0;
	font-size: 1.25rem;
	font-weight: 600 !important;
}


/* Portfolio Single - Meta
-----------------------------------------------------------------*/

.portfolio-meta {
	list-style: none;
	font-size: 0.875rem;
}

.portfolio-meta li {
	margin: 10px 0;
	color: #666;
}

.portfolio-meta li:first-child { margin-top: 0; }

.portfolio-meta li span {
	display: inline-block;
	width: 150px;
	font-weight: bold;
	color: #333;
}

.portfolio-meta li span i {
	position: relative;
	top: 1px;
	width: 14px;
	text-align: center;
	margin-right: 7px;
}


/* Portfolio Single Navigation
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/


#posts { position: relative; }

.entry {
	position: relative;
	margin-bottom: 50px;
}

.entry::after {
	content: '';
	position: relative;
	height: 2px;
	margin-top: 50px;
	background-color: #F5F5F5;
}

.entry-title h2,
.entry-title h3,
.entry-title h4 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.entry-title h4 {
	font-size: 0.875rem;
	letter-spacing: 0;
}

.entry-title.nott h2,
.entry-title.nott h3,
.entry-title h4 {
	text-transform: none;
}

.entry-title h2 a,
.entry-title h3 a,
.entry-title h4 a { color: #333; }

.entry-title h2 a:hover,
.entry-title h3 a:hover,
.entry-title h4 a:hover { color: #0072ce; }

.entry-meta {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

.entry-meta ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 0 -10px -20px;
	list-style: none;
}

.entry-meta li {
	font-size: 90%;
	margin: 0 15px 10px 0;
	color: #999;
}

.entry-meta:not(.no-separator) li::before {
	content: '\205E';
	width: 5px;
	text-align: center;
	display: inline-block;
	margin-right: 15px;
	opacity: 0.5;
}

.entry-meta i {
	position: relative;
	top: 1px;
	padding-left: 1px;
	margin-right: 5px;
}

.entry-meta a:not(:hover) { color: #999; }

.entry-meta ins {
	font-weight: 700;
	text-decoration: none;
}

.entry-content { margin-top: 30px; }

.entry-content { position: relative; }

.entry blockquote p {
	font-weight: 400;
	font-family: 'PT Serif', serif;
	font-style: italic;
}


/* Blog - Grid
-----------------------------------------------------------------*/


/* Blog - Timeline
-----------------------------------------------------------------*/

@media (min-width: 992px) {

	/* Blog - Timeline - Sidebar
	-----------------------------------------------------------------*/

}

.post-navigation + .line { margin-top: 50px; }


/* ----------------------------------------------------------------
	Blog - Author
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Comments List
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Comment Form
-----------------------------------------------------------------*/


/* Post Elements
-----------------------------------------------------------------*/


/* Infinity Scroll - Message Style
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* Shop - Single
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Cart
-----------------------------------------------------------------*/

td.actions {
	padding: 20px 15px !important;
	vertical-align: top !important;
	background-color: #F5F5F5;
}


/* ----------------------------------------------------------------
	Events
-----------------------------------------------------------------*/


.event.entry::after {
	display: none !important;
}

.event .grid-inner {
	background-color: #F9F9F9;
	border-bottom: 3px solid #EEE;
}


.parallax .iconlist li { margin: 5px 0; }


/* ----------------------------------------------------------------

	Countdown

-----------------------------------------------------------------*/


/* Countdown - Medium
-----------------------------------------------------------------*/


/* Countdown - Large
-----------------------------------------------------------------*/


/* Countdown - Inline
-----------------------------------------------------------------*/


@media (min-width: 768px) {

	/* Countdown - Coming Soon
	-----------------------------------------------------------------*/

}

/* ----------------------------------------------------------------
	Buttons
-----------------------------------------------------------------*/


.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px;
	padding: 8px 22px;
	font-size: 0.875rem;
	line-height: 24px;
	background-color: #0072ce;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

body:not(.device-touch) .button {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.button.button-dark {
	background-color: #444;
}

.button:hover {
	background-color: #444;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.button.button-dark:hover { background-color: #0072ce; }

.button.button-large {
	padding: 8px 26px;
	font-size: 1rem;
	line-height: 30px;
}

.button i {
	position: relative;
	margin-right: 5px;
	width: 16px;
	text-align: center;
}

.button.text-right i { margin: 0 0 0 5px; }


/* Buttons - Border
-----------------------------------------------------------------*/


/* Buttons - Border
-----------------------------------------------------------------*/

.button.button-3d {
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.button.button-3d:hover {
	background-color: #0072ce;
	opacity: 0.9;
}


/* Buttons - Icon Reveal
-----------------------------------------------------------------*/


/* Buttons - Promo 100% Width
-----------------------------------------------------------------*/

.button.button-full {
	display: block;
	width: 100%;
	white-space: normal;
	margin: 0;
	height: auto;
	line-height: 1.6;
	padding: 30px 0;
	font-size: 30px;
	font-weight: 300;
	text-transform: none;
	border-radius: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.button.button-full strong {
	font-weight: 700;
	border-bottom: 2px solid #EEE;
}

body:not(.device-touch) .button.button-full strong {
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}


/* Buttons - Circle
-----------------------------------------------------------------*/


/* Buttons - Fill Effect
-----------------------------------------------------------------*/


/* Buttons - Colors
-----------------------------------------------------------------*/

.button-black { background-color: #111; }
.button-3d.button-black:hover { background-color: #111 !important; }


/* Buttons - No Hover
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Promo Boxes
-----------------------------------------------------------------*/


/* Promo Uppercase
-----------------------------------------------------------------*/


/* Promo - with Border
-----------------------------------------------------------------*/


/* Promo - Light
-----------------------------------------------------------------*/


/* Promo - Dark
-----------------------------------------------------------------*/


/* Promo - 100% Full Width
-----------------------------------------------------------------*/


/* Promo - Parallax
-----------------------------------------------------------------*/


/* Promo - Mini
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.feature-box {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

.feature-box:first-child { margin-top: 0; }

.fbox-icon {
	width: 5.5rem;
	height: 4rem;
	padding: 0 0.75rem;
}

.fbox-icon a,
.fbox-icon i,
.fbox-icon img {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	color: #FFF;
}

.fbox-icon i,
.fbox-icon img {
	border-radius: 50%;
	background-color: #0072ce;
}

.fbox-icon i {
	font-style: normal;
	font-size: 1.75rem;
	line-height: 4rem;
	text-align: center;
}

.fbox-content {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	min-width: 0;
	max-width: 100%;
	padding: 0 0.75rem;
}

.fbox-content h3 {
	font-size: 1rem;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
	color: #333;
}

.fbox-content p {
	margin-top: 0.5rem;
	margin-bottom: 0px;
	color: #999;
}

.fbox-content .before-heading {
	font-size: 0.875rem;
}


/* Feature Box - Icon Small
-----------------------------------------------------------------*/

.fbox-sm {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

.fbox-sm .fbox-icon {
	width: 3rem;
	height: 2rem;
	padding: 0 0.5rem;
}

.fbox-sm .fbox-icon i {
	font-size: 1rem;
	line-height: 2rem;
}

.fbox-sm .fbox-content {
	padding: 0 0.5rem;
}

/* Feature Box - Icon Large
-----------------------------------------------------------------*/

/* Feature Box - Icon X-Large
-----------------------------------------------------------------*/


/* Feature Box - Icon Outline
-----------------------------------------------------------------*/


/* Feature Box - Icon Outline Sizes
-----------------------------------------------------------------*/


/* Feature Box - Icon Rounded
-----------------------------------------------------------------*/

.fbox-rounded .fbox-icon { border-radius: 3px !important; }

.fbox-rounded .fbox-icon i,
.fbox-rounded .fbox-icon img { border-radius: 3px !important; }


/* Feature Box - Icon Rounded Sizes
-----------------------------------------------------------------*/


/* Feature Box - Light Background
-----------------------------------------------------------------*/


/* Feature Box - Dark Background
-----------------------------------------------------------------*/


/* Feature Box - Border
-----------------------------------------------------------------*/


/* Feature Box - Border - Light
-----------------------------------------------------------------*/


/* Feature Box - Border - Dark
-----------------------------------------------------------------*/


/* Feature Box - Plain
-----------------------------------------------------------------*/

.fbox-plain .fbox-icon {
	border: none !important;
}

.fbox-plain .fbox-icon i,
.fbox-plain .fbox-icon img {
	border: none;
	background-color: transparent !important;
	color: #0072ce;
	border-radius: 0;
}

.fbox-plain .fbox-icon i {
	font-size: 3rem;
	line-height: 1;
}


/* Feature Box - Icon Plain Sizes
-----------------------------------------------------------------*/

.fbox-plain.fbox-sm .fbox-icon i { font-size: 2rem; }


/* Feature Box - Center & Large Icons
-----------------------------------------------------------------*/

.fbox-center {
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.fbox-center .fbox-icon {
	margin-bottom: 1.5rem;
}


/* Feature Box - Subtitle
-----------------------------------------------------------------*/

.fbox-content + .fbox-icon {
	margin-top: 1.5rem;
	margin-bottom: 0 !important;
}

.fbox-content h3 span.subtitle {
	display: block;
	margin-top: 5px;
	color: #444;
	font-weight: 300;
	text-transform: none;
}


/* Feature Box - Background
-----------------------------------------------------------------*/

.fbox-bg.fbox-center {
	margin-top: 2rem;
	margin-left: 0;
	margin-right: 0;
	padding: 0 2rem 2rem;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
}

.fbox-bg.fbox-center .fbox-icon {
	margin-top: -2rem;
}

.fbox-bg.fbox-center .fbox-icon { background-color: #FFF; }


/* Animated Icon Hovers
-----------------------------------------------------------------*/

.fbox-effect .fbox-icon i { z-index: 1; }

.fbox-effect .fbox-icon i::after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.fbox-rounded.fbox-effect .fbox-icon i::after { border-radius: 3px; }

.fbox-effect .fbox-icon i {
	-webkit-transition: background-color 0.2s, color 0.2s;
	-o-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
}

.fbox-effect .fbox-icon i::after {
	top: -3px;
	left: -3px;
	padding: 3px;
	box-shadow: 0 0 0 2px #333;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

.fbox-effect .fbox-icon i:hover,
.fbox-effect:hover .fbox-icon i {
	background-color: #333;
	color: #FFF;
}

.fbox-effect .fbox-icon i:hover::after,
.fbox-effect:hover .fbox-icon i::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Icon Effects - Bordered
-----------------------------------------------------------------*/


/* Media Featured Box
-----------------------------------------------------------------*/

.media-box {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	-ms-flex-direction: column;
	flex-direction: column;
}

.media-box .fbox-media { margin: 0 0 1.5rem; }

.media-box .fbox-media,
.media-box .fbox-media a,
.media-box .fbox-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

.media-box .fbox-media iframe { display: block; }

.media-box p { margin-top: 1rem; }

.media-box.fbox-bg .fbox-media { margin: 0; }

.media-box.fbox-bg .fbox-content {
	padding: 1.5rem;
	background-color: #FFF;
	border: 1px solid #E5E5E5;
	border-top: 0;
	border-radius: 0 0 5px 5px;
}

.media-box.fbox-bg .fbox-media img { border-radius: 5px 5px 0 0; }


/* ----------------------------------------------------------------
	Flipbox
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Process Steps
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Alerts
-----------------------------------------------------------------*/

.alert i {
	position: relative;
	top: 1px;
	font-size: 0.875rem;
	width: 14px;
	text-align: center;
	margin-right: 5px;
}


/* ----------------------------------------------------------------
	Styled Icons
-----------------------------------------------------------------*/



.i-plain,
.social-icon {
	display: block;
	float: left;
	margin: 4px 11px 7px 0;
	text-align: center !important;
	font-size: 28px;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	cursor: pointer;
	font-style: normal;
}


body:not(.device-touch) .i-plain,
body:not(.device-touch) .social-icon {
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.i-plain {
	width: 36px !important;
	height: 36px !important;
	font-size: 28px;
	line-height: 36px !important;
	color: #444;
	text-shadow: 1px 1px 1px #FFF;
}

.i-plain:hover { color: #777; }

.i-alt {
	background-image: url('images/icons/iconalt.svg');
	background-position: center center;
	background-size: 100% 100%;
}


/* Icon Size - Small
-----------------------------------------------------------------*/


/* Icon Size - Small
-----------------------------------------------------------------*/


/* Icon Size - Large
-----------------------------------------------------------------*/


/* Icon Size - Extra Large
-----------------------------------------------------------------*/


.i-xlarge.i-plain {
	margin: 4px 11px 7px 0;
	font-size: 56px;
}

.i-xlarge.i-plain {
	width: 64px !important;
	height: 64px !important;
	font-size: 56px;
	line-height: 64px !important;
}


/* Icon Size - Extra Extra Large
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Social Icons
-----------------------------------------------------------------*/


.social-icon {
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	font-size: 1.25rem;
	line-height: 38px !important;
	color: #555;
	text-shadow: none;
	border: 1px solid #AAA;
	border-radius: 3px;
	overflow: hidden;
}

.d-flex > .social-icon {
	float: none;
	margin-bottom: 0px;
}


/* Social Icons - Rounded
-----------------------------------------------------------------*/

/* Social Icons - Borderless
-----------------------------------------------------------------*/

.si-borderless { border-color: transparent !important; }

/* Social Icons - Dark
-----------------------------------------------------------------*/

.si-dark {
	background-color: #444;
	color: #FFF !important;
	border-color: transparent;
}

/* Social Icons - Light
-----------------------------------------------------------------*/

/* Social Icons - Colored
-----------------------------------------------------------------*/

.si-colored { border-color: transparent !important; }

.si-colored i { color: #FFF; }

/* Social Icons - Large
-----------------------------------------------------------------*/

/* Social Icons - Small
-----------------------------------------------------------------*/

.social-icon.si-small {
	width: 32px;
	height: 32px;
	font-size: 0.875rem;
	line-height: 30px !important;
}

.social-icon i {
	display: block;
	position: relative;
}

body:not(.device-touch) .social-icon i {
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.social-icon i:last-child { color: #FFF !important; }

.social-icon:hover i:first-child { margin-top: -38px; }

.social-icon.si-small:hover i:first-child { margin-top: -30px; }

.social-icon:hover {
	color: #555;
	border-color: transparent;
}

.si-colored.social-icon { border-color: transparent; }

/* Social Icons - Sticky
-----------------------------------------------------------------*/

/* Social Icons - Sticky Right
-----------------------------------------------------------------*/

/* Social Icons - Share
-----------------------------------------------------------------*/

.si-facebook:hover,
.si-colored.si-facebook { background-color: #3B5998 !important; }
.si-gplus:hover,
.si-colored.si-gplus { background-color: #DD4B39 !important; }
.si-google:hover,
.si-colored.si-google { background-color: #DD4B39 !important; }
.si-linkedin:hover,
.si-colored.si-linkedin { background-color: #0E76A8 !important; }
.si-github:hover,
.si-colored.si-github { background-color: #171515 !important; }
.si-xing:hover,
.si-colored.si-xing { background-color: #126567 !important; }
.si-amazon:hover,
.si-colored.si-amazon { background-color: #E47911 !important; }


/* Social Icons Text Color
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Toggle
-----------------------------------------------------------------*/


.toggle {
	display: block;
	position: relative;
	margin: 0 0 20px 0;
}


.accordion-header {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -5px;
	cursor: pointer;
	color: #444;
	font-size: 1rem;
	font-weight: 700;
}


.accordion-icon {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
	padding: 0 5px;
	text-align: center;
}


.accordion-title {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	padding: 0 5px;
}


.accordion-content {
	display: block;
	position: relative;
	padding: 0.75rem 0;
}


/* Toggle - with Title Background
-----------------------------------------------------------------*/


/* Toggle - Bordered
-----------------------------------------------------------------*/


/* Toggle - FAQs
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Accordions
-----------------------------------------------------------------*/

.accordion { margin-bottom: 20px; }

.accordion-header {
	padding: 0.75rem 0;
	border-top: 1px dotted #DDD;
	cursor: pointer;
}

.accordion:not([data-collapsible="true"]) .accordion-header.accordion-active { cursor: auto; }

.accordion-header:first-child { border-top: none; }

.accordion-header:not(.accordion-active) .accordion-open,
.accordion-active .accordion-closed { display: none; }

.accordion-active .accordion-open { display: inline-block; }

.accordion-content {
	padding-top: 0;
	padding-bottom: 1.5rem;
}


/* Accordion - with Title Background
-----------------------------------------------------------------*/

.accordion-bg .accordion-header {
	background-color: #EEE;
	padding: 0.75rem;
	border-radius: 2px;
	margin: 0;
	margin-bottom: 5px;
	border-top: 0;
}

.accordion-bg .accordion-content {
	padding: 0.75rem 0.75rem 1.5rem;
}


/* Accordion - Bordered
-----------------------------------------------------------------*/


/* Accordion - Large
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Tabs
-----------------------------------------------------------------*/


/* Tabs - Alternate Nav
-----------------------------------------------------------------*/


/* Tabs - Top Border
-----------------------------------------------------------------*/


/* Tabs - Bottom Border
-----------------------------------------------------------------*/


/* Tabs - Navigation Style 2
-----------------------------------------------------------------*/


/* Tabs - Large Navigation
-----------------------------------------------------------------*/


/* Tabs - Content Area
-----------------------------------------------------------------*/

/* Tabs - Bordered
-----------------------------------------------------------------*/


/* Tabs - Side Tabs
-----------------------------------------------------------------*/

@media (min-width: 768px) {


	/* Tabs - Side Tabs & Nav Style 2
	-----------------------------------------------------------------*/

	/* Tabs - Side Tabs & Bordered
	-----------------------------------------------------------------*/

}


/* ----------------------------------------------------------------
	Side Navigation
-----------------------------------------------------------------*/

/* Chevrons */


/* ----------------------------------------------------------------
	FAQ List
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Clients
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Testimonials
-----------------------------------------------------------------*/

/* Testimonials - Grid
-----------------------------------------------------------------*/


/* Testimonials - Item
-----------------------------------------------------------------*/


/* Twitter - Small Scroller
-----------------------------------------------------------------*/


/* Testimonials - Full Width
-----------------------------------------------------------------*/


/* Testimonial - Section Scroller
-----------------------------------------------------------------*/


/* Testimonial - Pagination
-----------------------------------------------------------------*/


/* Testimonial - Full Scroller
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Team
-----------------------------------------------------------------*/


.team { position: relative; }


/* Team Center
-----------------------------------------------------------------*/


/* Team List
-----------------------------------------------------------------*/

.team:not(.team-list) .social-icon {
	display: inline-block !important;
	vertical-align: middle;
	float: none;
	margin-left: 4px;
	margin-right: 4px;
}


/* ----------------------------------------------------------------
	Pricing Boxes
-----------------------------------------------------------------*/


/* Pricing Boxes
-----------------------------------------------------------------*/


/* Pricing Boxes - Title
-----------------------------------------------------------------*/


/* Pricing Boxes - Price
-----------------------------------------------------------------*/


/* Pricing Boxes - Features
-----------------------------------------------------------------*/


/* Pricing Boxes - Action
-----------------------------------------------------------------*/


/* Pricing Boxes - Best Price
-----------------------------------------------------------------*/


/* Pricing Boxes - Simple
-----------------------------------------------------------------*/


/* Pricing Boxes - Minimal
-----------------------------------------------------------------*/


/* Pricing Boxes - Extended
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Counter
-----------------------------------------------------------------*/


.counter {
	font-size: 42px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}

.counter + h5 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.counter.counter-lined + h5::before {
	display: block;
	position: relative;
	margin: 20px auto 25px auto;
	content: '';
	width: 15%;
	border-top: 2px solid #444;
	opacity: 0.9;
}

.widget .counter + h5 { opacity: 0.7; }


/* ----------------------------------------------------------------
	Animated Rounded Skills
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Skills Bar
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Quotes & Blockquotes
-----------------------------------------------------------------*/

blockquote p { margin-bottom: 15px; }

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 1.125rem;
	border-left: 5px solid #EEE;
}

blockquote.float-right {
	max-width: 300px;
	margin: 5px 0 10px 20px;
	padding-left: 0;
}


/* ----------------------------------------------------------------
	Dropcaps & Highlights
-----------------------------------------------------------------*/

.highlight {
	padding: 2px 5px;
	background-color: #444;
	color: #FFF;
	border-radius: 2px;
}

/* ----------------------------------------------------------------
	Text Rotater
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Owl Carousel CSS
-----------------------------------------------------------------*/

@-webkit-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}


/* Owl Carousel - Controls
-----------------------------------------------------------------*/

/* Owl Carousel - Controls - Arrows
-----------------------------------------------------------------*/


/* Owl Carousel - Controls - Dots
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Flip Cards
-----------------------------------------------------------------*/

/*.owl-carousel .owl-stage { padding: 20px 0; }*/


/* ----------------------------------------------------------------
	Overlays
-----------------------------------------------------------------*/


/* News Carousel Overlays
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Forms
-----------------------------------------------------------------*/

.sm-form-control {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 14px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 2px solid #DDD;
	border-radius: 0 !important;
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
}

.sm-form-control:focus {
	border-color: #AAA;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.sm-form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.sm-form-control:-ms-input-placeholder { color: #999; }
.sm-form-control::-webkit-input-placeholder { color: #999; }


.sm-form-control[readonly] {
	cursor: not-allowed;
	background-color: #eeeeee;
	opacity: 1;
}

.sm-form-control { height: auto; }

label {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #555;
	margin-bottom: 10px;
	cursor: pointer;
}


/* ----------------------------------------------------------------
	Contact Form
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Google Maps
-----------------------------------------------------------------*/


.gmap {
	position: relative;
	width: 100%;
	height: 450px;
}

.gmap img { max-width: none !important; }


/* ----------------------------------------------------------------
	Google Custom Search
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Titular
-----------------------------------------------------------------*/


/* Block Titles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { margin-bottom: 50px; }

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4 {
	margin-bottom: 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
}

.heading-block h1 { font-size: 32px; }

.heading-block h2 { font-size: 30px; }

.heading-block h3 { font-size: 1.75rem; }

.heading-block h4 {
	font-size: 1.25rem;
	font-weight: 700;
}

.heading-block > span:not(.before-heading) {
	display: block;
	margin-top: 10px;
	font-weight: 300;
	color: #777;
}

.heading-block .before-heading { margin-bottom: 7px; }

.heading-block.center > span,
.heading-block.text-center > span,
.center .heading-block > span,
.text-center .heading-block > span {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.heading-block h1 + span { font-size: 1.5rem; }

.heading-block h2 + span { font-size: 1.25rem; }

.heading-block h3 + span,
.heading-block h4 + span { font-size: 1.25rem; }

.heading-block::after {
	content: '';
	display: block;
	margin-top: 30px;
	width: 40px;
	border-top: 2px solid #444;
}

.center .heading-block::after,
.text-center .heading-block::after,
.heading-block.center::after,
.heading-block.text-center::after { margin: 30px auto 0; }

.text-right .heading-block,
.heading-block.text-right { direction: rtl; }

.heading-block.border-0::after,
.heading-block.border-bottom-0::after { display: none; }

.heading-block.border-color::after { border-color: #0072ce; }


/* Emphasis Title
-----------------------------------------------------------------*/


/* Justify Border Title
-----------------------------------------------------------------*/

.fancy-title {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 2rem;
}

.fancy-title h1,
.fancy-title h2,
.fancy-title h3,
.fancy-title h4,
.fancy-title h5 {
	position: relative;
	margin-bottom: 0;
}

.fancy-title::before,
.fancy-title::after {
	content: '';
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	height: 0;
	border-top: 3px double #E5E5E5;
}

.fancy-title::before {
	display: none;
	margin-right: 0.75rem;
}

.fancy-title::after {
	margin-left: 0.75rem;
}

.title-border::before,
.title-border::after {
	border-top-width: 1px;
	border-top-style: solid;
}


/* Fancy Title - Center Align
-----------------------------------------------------------------*/


/* Fancy Title - Right Align
-----------------------------------------------------------------*/


/* Fancy Title - Bottom Short Border
-----------------------------------------------------------------*/

.title-bottom-border::before,
.title-bottom-border::after {
	display: none;
}

.title-bottom-border h1,
.title-bottom-border h2,
.title-bottom-border h3,
.title-bottom-border h4,
.title-bottom-border h5 {
	width: 100%;
	padding: 0 0 0.75rem;
	border-bottom: 2px solid #0072ce;
}


/* Sub Heading
-----------------------------------------------------------------*/

.before-heading {
	display: block;
	margin: 0 0 5px;
	font-size: 1rem;
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-weight: 400;
	color: #999;
}


@media (max-width: 767.98px){

	.heading-block h1 { font-size: 30px; }

	.heading-block h2 { font-size: 26px; }

	.heading-block h3 { font-size: 22px; }

	.heading-block h4 { font-size: 19px; }

	.heading-block h1 + span { font-size: 20px; }

	.heading-block h2 + span { font-size: 18px; }

	.heading-block h3 + span,
	.heading-block h4 + span { font-size: 17px; }

}


/* ----------------------------------------------------------------
	Divider
-----------------------------------------------------------------*/


.divider {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	margin: 3rem auto;
	color: #E5E5E5;
	width: 100%;
}
.divider.divider-margin-sm { margin: 1rem auto; }

.divider::after,
.divider::before {
	content: '';
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	height: 1px;
	background-color: #EEE;
}

.divider::before {
	display: none;
	margin-right: 0.5rem;
}

.divider::after {
	margin-left: 0.5rem;
}

.divider.divider-sm { width: 55%; }

.divider i,
.divider a {
	position: relative;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 24px;
	max-width: 100%;
	line-height: 1;
	font-size: 18px !important;
	text-align: center;
}

.divider a {
	width: auto;
	color: inherit;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.divider a:hover { color: #888; }


/* Divider - Icon Align Right
-----------------------------------------------------------------*/


/* Divider - Icon Align Center
-----------------------------------------------------------------*/

.divider.divider-center::before {
	display: block;
}


/* Divider - Rounded Icon
-----------------------------------------------------------------*/


/* Divider - Rounded & Border
-----------------------------------------------------------------*/


/* Divider - Line Only
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Magazine Specific Classes
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Go To Top
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Read More
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	GDPR Settings
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Error 404
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Landing Pages
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Preloaders
-----------------------------------------------------------------*/



.form-process {
	display: block;
	width: 100%;
	height: 100%;
	background: center center no-repeat #FFF;
}

.form-process {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: transparent;
}

.form-process::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	opacity: 0.7;
	z-index: -1;
}


/* ----------------------------------------------------------------
	Toastr Notifications
-----------------------------------------------------------------*/
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
/*Responsive Design*/


/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


#footer {
	position: relative;
	background-color: #EEE;
	border-top: 5px solid rgba(0,0,0,0.2);
}

#footer .footer-widgets-wrap {
	position: relative;
	padding: 80px 0;
}

#copyrights {
	padding: 40px 0;
	background-color: #DDD;
	font-size: 0.875rem;
	line-height: 1.8;
}

.copyright-links a {
	display: inline-block;
	margin: 0 3px;
	color: #444;
	border-bottom: 1px dotted #444;
}

.copyright-links a:hover {
	color: #555;
	border-bottom: 1px solid #666;
}

#copyrights a:first-child { margin-left: 0; }

#copyrights.text-right a:last-child { margin-right: 0; }

.footer-logo {
	display: block;
	margin-bottom: 30px;
}


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/

.widget p { line-height: 1.7; }

.widget:first-child { margin-top: 0; }

.widget > h4 {
	margin-bottom: 25px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}


/* Tag Cloud
-----------------------------------------------------------------*/

.tagcloud-nofloat {
	display: inline;
	margin-bottom: -2px;
}

.tagcloud { margin-bottom: -2px; }

.tagcloud a {
	display: block;
    float: left; 
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 3px 6px;
	border: 1px solid #E5E5E5;
	font-size: 13px !important;
	color: #666;
	border-radius: 2px;
}
.tagcloud-nofloat a {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 3px 6px;
	border: 1px solid #E5E5E5;
	font-size: 13px !important;
	color: #666;
	border-radius: 2px;
}
body:not(.device-touch) .tagcloud-nofloat a,
body:not(.device-touch) .tagcloud a {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.tagcloud-nofloat a:hover,
.tagcloud a:hover {
	border-color: #0072ce !important;
	color: #0072ce !important;
}


/* Widget - Links
-----------------------------------------------------------------*/


.widget_links ul,
.widget_links li {
	list-style: none;
	margin: 0;
}


.widget_links li {
	padding: 4px 0;
	font-size: 15px;
}


.widget_links:not(.widget-li-noicon) li::before {
	content: "\e7a5";
	font-family: 'font-icons';
	display: inline-block;
	position: relative;
	top: 1px;
	left: 0;
}


.widget_links li a {
	display: inline-block;
	padding: 0 3px 0 12px;
	border: none !important;
	color: #444;
}


.widget_links li a:hover { color: #000; }


.widget_links > ul > li:first-child { border-top: 0 !important; }


.widget_links > ul { margin-top: -4px !important; }


.widget_links ul ul { margin-left: 15px; }


/* Widget - Testimonial & Twitter
-----------------------------------------------------------------*/


/* Widget - Quick Contact Form
-----------------------------------------------------------------*/


.template-contactform { position: relative; }


/* Newsletter Widget
-----------------------------------------------------------------*/


/* Twitter Feed Widget
-----------------------------------------------------------------*/


/* Widget Filter Links
-----------------------------------------------------------------*/


/* Navigation Tree
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Wedding
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Styled Paginations
-----------------------------------------------------------------*/

/* Pagination Rounded */

/* Pagination Margins */

/* Pagination 3d */

/* Pagination Transparent */

/* Pagination Transparent */

/* Pagination Inside Transparent */

/* Pagination Button */

/* Pagination Pill */

/* Pagination primary */

/* Pagination secondary */

/* Pagination success */

/* Pagination danger */

/* Pagination info */

/* Pagination dark */

/* Pagination light */

/* Pagination Bootstrap Background */


/* --------------------------------------------------------------
	SWITCH
--------------------------------------------------------------  */

/* --------------------------------------------------------------
	SWITCH 1 - ROUND
----------------------------------------------------------------- */

/* --------------------------------------------------------------
	SWITCH 1 - ROUND- MINI
----------------------------------------------------------------- */

/* --------------------------------------------------------------
	SWITCH 1 - ROUND- LARGE
----------------------------------------------------------------- */


/* --------------------------------------------------------------
	SWITCH 1 - ROUND- XLARGE
----------------------------------------------------------------- */


/* -----------------------------------------------------------
	SWITCH 2 - ROUND FLAT
-------------------------------------------------------------- */


/* -----------------------------------------------------------
	SWITCH 2 - FLAT - MINI
-------------------------------------------------------------- */


/* -----------------------------------------------------------
	SWITCH 2 - FLAT - LARGE
-------------------------------------------------------------- */



/* -----------------------------------------------------------
	SWITCH 2 - FLAT - XLARGE
-------------------------------------------------------------- */


/* ----------------------------------------------------------------
	Bootstrap Specific
-----------------------------------------------------------------*/

.table .info { color: #31708f; }


label.checkbox { padding-left: 20px; }


/* ----------------------------------------------------------------
	Stretched Layout
-----------------------------------------------------------------*/


.stretched #wrapper {
	width: 100%;
	margin: 0;
	box-shadow: none;
}


/* ----------------------------------------------------------------
	Shape Dividers
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Transitions
-----------------------------------------------------------------*/


.css3-spinner {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
	background-color: #FFF;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-perspective: 1000;
}

.css3-spinner {
	position: absolute;
	z-index: auto;
	background-color: transparent;
}

.css3-spinner > div {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: 13px;
	width: 18px;
	height: 18px;
	background-color: #DDD;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	animation: bouncedelay 1.2s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
	0%, 80%, 100% {
	transform: scale(0.0);
	-webkit-transform: scale(0.0);
	} 40% {
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	}
}

@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	} 50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	} 100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-webkit-keyframes cssspinnerbounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes cssspinnerbounce {
	0%, 100% {
	transform: scale(0.0);
	-webkit-transform: scale(0.0);
	} 50% {
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	}
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% {
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
	}  20% {
	transform: scaleY(1.0);
	-webkit-transform: scaleY(1.0);
	}
}

@-webkit-keyframes cubemove {
	25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
	25% {
	transform: translateX(42px) rotate(-90deg) scale(0.5);
	-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% {
	transform: translateX(42px) translateY(42px) rotate(-179deg);
	-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% {
	transform: translateX(42px) translateY(42px) rotate(-180deg);
	-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% {
	transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% {
	transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	}
}


.css3-spinner > .css3-spinner-scaler {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	-webkit-animation: scaleout 1.0s infinite ease-in-out;
	animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
	0% { -webkit-transform: scale(0.0) }
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes scaleout {
	0% {
	transform: scale(0.0);
	-webkit-transform: scale(0.0);
	} 100% {
	transform: scale(1.0);
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@-webkit-keyframes ball-grid-pulse {
	0% {
	-webkit-transform: scale(1);
	transform: scale(1); }

	50% {
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0.7; }

	100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1; }
}

@keyframes ball-grid-pulse {
	0% {
	-webkit-transform: scale(1);
	transform: scale(1); }

	50% {
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0.7; }

	100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1; }
}

@keyframes rotate {
	0% {
	-webkit-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1); }

	50% {
	-webkit-transform: rotate(180deg) scale(0.6);
	transform: rotate(180deg) scale(0.6); }

	100% {
	-webkit-transform: rotate(360deg) scale(1);
	transform: rotate(360deg) scale(1); }
}


@-webkit-keyframes ballrotate {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg); }

  50% {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg); }

  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg); }
}

@keyframes ballrotate {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg); }

  50% {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg); }

  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg); }
}


@-webkit-keyframes ball-zig-deflect {
  17% {
	-webkit-transform: translate(-15px, -30px);
	transform: translate(-15px, -30px); }

  34% {
	-webkit-transform: translate(15px, -30px);
	transform: translate(15px, -30px); }

  50% {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0); }

  67% {
	-webkit-transform: translate(15px, -30px);
	transform: translate(15px, -30px); }

  84% {
	-webkit-transform: translate(-15px, -30px);
	transform: translate(-15px, -30px); }

  100% {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0); }
}

@keyframes ball-zig-deflect {
  17% {
	-webkit-transform: translate(-15px, -30px);
	transform: translate(-15px, -30px); }

  34% {
	-webkit-transform: translate(15px, -30px);
	transform: translate(15px, -30px); }

  50% {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0); }

  67% {
	-webkit-transform: translate(15px, -30px);
	transform: translate(15px, -30px); }

  84% {
	-webkit-transform: translate(-15px, -30px);
	transform: translate(-15px, -30px); }

  100% {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0); }
}

@-webkit-keyframes ball-zag-deflect {
  17% {
	-webkit-transform: translate(15px, 30px);
	transform: translate(15px, 30px); }

  34% {
	-webkit-transform: translate(-15px, 30px);
	transform: translate(-15px, 30px); }

  50% {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0); }

  67% {
	-webkit-transform: translate(-15px, 30px);
	transform: translate(-15px, 30px); }

  84% {
	-webkit-transform: translate(15px, 30px);
	transform: translate(15px, 30px); }

  100% {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0); }
}

@keyframes ball-zag-deflect {
  17% {
	-webkit-transform: translate(15px, 30px);
	transform: translate(15px, 30px); }

  34% {
	-webkit-transform: translate(-15px, 30px);
	transform: translate(-15px, 30px); }

  50% {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0); }

  67% {
	-webkit-transform: translate(-15px, 30px);
	transform: translate(-15px, 30px); }

  84% {
	-webkit-transform: translate(15px, 30px);
	transform: translate(15px, 30px); }

  100% {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0); }
}

@-webkit-keyframes ball-scale-multiple {
  0% {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0; }

  5% { opacity: 1; }

  100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 0; }
}

@keyframes ball-scale-multiple {
  0% {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0; }

  5% { opacity: 1; }

  100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 0; }
}

@-webkit-keyframes ball-triangle-path-1 {
  33% {
	-webkit-transform: translate(25px, -50px);
	transform: translate(25px, -50px); }

  66% {
	-webkit-transform: translate(50px, 0px);
	transform: translate(50px, 0px); }

  100% {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px); }
}

@keyframes ball-triangle-path-1 {
  33% {
	-webkit-transform: translate(25px, -50px);
	transform: translate(25px, -50px); }

  66% {
	-webkit-transform: translate(50px, 0px);
	transform: translate(50px, 0px); }

  100% {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px); }
}

@-webkit-keyframes ball-triangle-path-2 {
  33% {
	-webkit-transform: translate(25px, 50px);
	transform: translate(25px, 50px); }

  66% {
	-webkit-transform: translate(-25px, 50px);
	transform: translate(-25px, 50px); }

  100% {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px); }
}

@keyframes ball-triangle-path-2 {
  33% {
	-webkit-transform: translate(25px, 50px);
	transform: translate(25px, 50px); }

  66% {
	-webkit-transform: translate(-25px, 50px);
	transform: translate(-25px, 50px); }

  100% {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px); }
}

@-webkit-keyframes ball-triangle-path-3 {
  33% {
	-webkit-transform: translate(-50px, 0px);
	transform: translate(-50px, 0px); }

  66% {
	-webkit-transform: translate(-25px, -50px);
	transform: translate(-25px, -50px); }

  100% {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px); }
}

@keyframes ball-triangle-path-3 {
  33% {
	-webkit-transform: translate(-50px, 0px);
	transform: translate(-50px, 0px); }

  66% {
	-webkit-transform: translate(-25px, -50px);
	transform: translate(-25px, -50px); }

  100% {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px); }
}


@-webkit-keyframes ball-pulse-sync {
  33% {
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	opacity: 0.85;
	}

  66% {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	opacity: 0.7;
	}

  100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	}
}

@keyframes ball-pulse-sync {
  33% {
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	opacity: 0.85;
	}

  66% {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	opacity: 0.7;
	}

  100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	}
}


@-webkit-keyframes ball-scale-ripple-multiple {
  0% {
	-webkit-transform: scale(0.1);
			transform: scale(0.1);
	opacity: 1; }

  70% {
	-webkit-transform: scale(1);
			transform: scale(1);
	opacity: 0.7; }

  100% {
	opacity: 0.0; }
}

@keyframes ball-scale-ripple-multiple {
  0% {
	-webkit-transform: scale(0.1);
			transform: scale(0.1);
	opacity: 1; }

  70% {
	-webkit-transform: scale(1);
			transform: scale(1);
	opacity: 0.7; }

  100% {
	opacity: 0.0; }
}



/* ----------------------------------------------------------------
	HTML5 Youtube Video Backgrounds
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Datepicker Component
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Star Ratings Component
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Custom Animate.css Styles
-----------------------------------------------------------------*/

@-webkit-keyframes fadeInDownSmall {
	from {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	}

	to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInDownSmall {
	from {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	}

	to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
}


@-webkit-keyframes fadeInLeftSmall {
	from {
	opacity: 0;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	}

	to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeftSmall {
	from {
	opacity: 0;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	}

	to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
}


@-webkit-keyframes fadeInRightSmall {
	from {
	opacity: 0;
	-webkit-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
	}

	to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInRightSmall {
	from {
	opacity: 0;
	-webkit-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
	}

	to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
}


@-webkit-keyframes fadeInUpSmall {
	from {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	}

	to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUpSmall {
	from {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	}

	to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
}


@-webkit-keyframes fadeOutDownSmall {
	from {
	opacity: 1;
	}

	to {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	}
}

@keyframes fadeOutDownSmall {
	from {
	opacity: 1;
	}

	to {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	}
}


@-webkit-keyframes fadeOutLeftSmall {
	from {
	opacity: 1;
	}

	to {
	opacity: 0;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	}
}

@keyframes fadeOutLeftSmall {
	from {
	opacity: 1;
	}

	to {
	opacity: 0;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	}
}


@-webkit-keyframes fadeOutRightSmall {
	from {
	opacity: 1;
	}

	to {
	opacity: 0;
	-webkit-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
	}
}

@keyframes fadeOutRightSmall {
	from {
	opacity: 1;
	}

	to {
	opacity: 0;
	-webkit-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
	}
}


@-webkit-keyframes fadeOutUpSmall {
	from {
	opacity: 1;
	}

	to {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	}
}

@keyframes fadeOutUpSmall {
	from {
	opacity: 1;
	}

	to {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	}
}

