header + section {
  padding-top: 70px;
}

.siteHeader {
  background: radial-gradient(
    circle,
    rgba(42, 84, 182, 1) 0%,
    rgba(7, 36, 104, 1) 100%
  );
  min-height: 300px;
}

.siteHeader h1 {
  font-weight: 500;
  font-size: 3em;
  color: #fff;
  padding-top: 50px;
  margin-bottom: 0;
}

.siteHeader h2 {
  font-weight: 300;
  font-size: 1em;
  color: #fff;
  padding-top: 0;
  margin-bottom: 0;
}

section { 
  position: relative;
}

.section-content {
  /* z-index: 200; */
  z-index: unset;
}

.container-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-layer {
  position: absolute;
  transform: translateY(var(--translateY));
  will-change: transform;
  top: 0;
  left: 0;
  width: 100%;
}

.container-background.anchor-bottom {
  top: auto;
  bottom: 0;
}

.container-background.anchor-top {
  top: 0;
  bottom: auto;
}
.container-background.anchor-top .background-layer {
  top: 0;
  bottom: auto;
}

.container-background.anchor-bottom .background-layer {
  top: auto;
  bottom: 0;
}

#header-image-background-skating-office {
  transform: translateY(10px);
  position: absolute;
  width: 778px;
  left: 50%;
  margin-left: 0px;
  top: 50%;
  margin-top: -340px;
}

#section-background-container-maze {
  overflow: visible;
}

#section-background-maze {
  z-index: 7;
  top: -250px;
  position: absolute;
  width: 800px;
  left: 50%;
  margin-left: -900px;
}

.full-header .logo {
  height: 100px;
}
.sticky-header-shrink > #header-wrap {
  height: 70px;
}

.full-header.sticky-header-shrink .logo {
  height: 70px;
}

.full-header.sticky-header-shrink .menu-link {
  padding-top: 19px;
  padding-bottom: 19px;
}

.partner-feature {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #aaa;
  min-height: 250px;
}

.partner-feature:last-child {
  border-bottom: none;
}

.partner-logo {
  max-height: 250px;
  max-width: 350px;
  padding: 25px;
}

.competency-badge {
  padding-top: 25px;
  padding-bottom: 25px;
}

.service-card-headline h3 {
  margin-bottom: 0;
}

.service-card-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-card-headline > h3 {
  line-height: 1;
}

.service-card-header {
  display: flex;
}

.service-card-header > * {
  padding: 0 15px;
}

.service-card-icon {
  border-right: #2870ca 3px solid;
  text-align: center;
  width: 6em;
}

.service-card-icon > img {
  height: 3em;
  display: block;
}

@media (max-width: 575.98px) {
  .service-card-headline > h3 {
    font-size: 2.5em;
    font-weight: 600;
  }
  .service-card-icon {
    width: 8em;
  }
  .service-card-icon > img {
    height: 5em;
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .service-card-headline > h3 {
    font-size: 2em;
  }
  .service-card-icon {
    width: 7em;
  }
  .service-card-icon > img {
    height: 4em;
    display: block;
  }
}

.service-card-content {
  padding-top: 25px;
  font-weight: 300;
}

.service-card {
  padding: 15px 0; /*30px;*/
}
.text-white {
  color: #eee !important;
}
#header.dark,
.sticky-header.dark #header-wrap {
  background-color: rgb(0, 30, 98);
  transition: height 0.2s ease-in-out;
  border-bottom: 0px;
}
#header {
  border-bottom: 0px;
}
#logo img {
  transition: height 0.25s ease-in-out;
}
.hidden {
  display: none;
}
.fl-center {
  display: flex;
  justify-content: center;
}
.fl-row-center {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
}

.heading-block h2 {
  font-size: 58px;
  letter-spacing: -1px;
  color: #eee;
}
.heading-block h3 {
  font-size: 58px;
  letter-spacing: -1px;
  color: #333;
}
#section-website h1 {
  margin-top: 5rem;
}

/*MODAL CSS*/

.modal.show {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  animation: fade 0.25s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* BURGER */
#header-wrap > .container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 30, 98);
  max-height: 0px;
  transition: max-height 0.2s ease-in-out;
}
@media (max-width: 991.98px) {
  .hidden-mobile {
    display: none;
  }

  .sticky-header .menu-container {
    display: block;
    max-height: 0px;
  }

  #primary-menu-trigger {
    font-size: 1.5em;
  }
  .primary-menu-open #header-wrap > .container::before {
    transition: max-height 0.3s ease-in-out;
    max-height: 100vh;
  }

  .primary-menu-open .primary-menu {
    width: 100%;
  }
  .primary-menu-open .primary-menu > .menu-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    transition: max-height 0.33s ease-out;
    overflow: hidden;
  }

  .mobile-flex-column .row {
    flex-direction: column;
  }
  .mobile-flex-fullwidth {
    flex: 1 1 100%;
    max-width: unset;
  }
  .mobile-space-bottom {
    margin-bottom: 2vh;
  }

  /* Job Description show/hide*/
  .show-more {
    cursor: pointer;
  }
  .show-more > h3 {
    background: #0072ce;
    color: #eee;
    padding: 10px;
    border: unset;
    width: 100%;
    -webkit-user-select: none;
  }
  .show-more.active + .job-content {
    display: block;
    height: auto;
    transition: height 0.2s ease-out;
  }
  .show-more + .job-content {
    display: none;
    height: 0;
    transition: height 0.1s ease-in;
  }

  .show-more.active::after {
    transform: rotate(-90deg);
    transition: transform 0.25s ease-in-out;
  }
  .show-more::after {
    content: ">";
    position: absolute;
    right: 12px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #e0e0e0;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    transform: rotate(90deg);
    transition: transform 0.25s ease-in-out;
    transform-origin: center;
  }
  .show-more.active::after {
    content: "<";
  }
  .show-more::after {
    content: ">";
    position: absolute;
    right: 12px;
    width: 20px;
    height: 20px;
    color: #eee;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    transform: rotate(90deg);
    border: unset;
  }
}

@media (max-width: 767.98px) {
  #content .mobile-grouping .col-2 a > p {
    line-height: 1.2;
  }
  .mobile-grouping .col-10 {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
  }

  .mobile-grouping .col-2 > a > img {
    width: 10vw;
    height: auto;
    margin-right: 15px;
  }

  .mobile-grouping .col-2 {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    width: 100%;
    max-width: 80%;
    padding-bottom: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
    text-align: left;
  }

  .m-fl-col-2 {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 575.98px) {

  .mobile-grouping .col-2 {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .m-fl-col-2 {
    display: flex;
    align-items: center;
  }
  .heading-block h2 {
    font-size: 3em;
    line-height: 1.3;
  }

  .heading-block h3 {
    font-size: 2.5em;
    line-height: 1.2;
  }
  #section-website h1 {
    margin-top: 2rem;
  }
  section.siteHeader h1 {
    font-size: 2.5em;
    line-height: 1.2;
    padding-top: 0;
  }
  section.siteHeader {
    display: flex;
    min-height: 250px;
  }
  section.siteHeader > .container {
    align-self: flex-end;
    padding-bottom: 35px;
  }
  .divider.divider-center {
    margin: 2em auto;
  }
  ul.list-unstyled {
    margin: unset;
  }
}

@media (max-width: 412.98px) {
  section.siteHeader h1 {
    font-size: 2em;
    line-height: 1.1;
  }
}

/* References Page */

.references-logo-img {
  float: right;
  margin-right: 5rem;
  width: 10rem;
}

/* Custom Image Border for Workshops */
.portfolio-image img {
  border: 2px solid #dfdfdf
}

/* For Video as WebM looping in Background */

video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.video-wrapper {
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;

  /* width: 960px;
  /* height: 550px;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}