<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Softcomweb</title>
    <script src="https://unpkg.com/vue@3.0.2">

    </script>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background-color: burlywood;
            margin: 20px;
            display: inline-block;
        }
        .parent {
            background-color: darkgoldenrod;
            width: 200px;
        }
    </style>
</head>
<body>
    <p>Welcome to softcomweb Project</p>

    <div id="app">
        <p>Title: {{ title }}</p>
        <!--Using v-if with v-else-->
        <span v-if="showfirstname">
            <p>Firstname: {{ firstname }}</p>
        </span>
        <p>Lastname: {{ lastname }}</p>
        <span v-if="showCity">
            <p>City: {{ city.name }}</p>
        </span>
        <span v-else>Woow</span>
        <p>Postal_Code: {{ city.code }}</p>
        <p>Initial_Number: {{ num }}</p>
        <div v-if="num == 10 || num == 20">
            <h2>Got it. Now City has disappeared</h2>
        </div>
        <button id="incr" @click="increaseNumber">Increase Number</button>
        <button id="incr" @click="num--">Decrease Number</button>
        <div>
            <div class="box" @mouseover="showFirstName" @mouseleave="showfirstname = true">Show Firstname</div>
            <div class="box">Show Lastname</div>
            <div class="box">Show Message</div>
            <div class="box">Box4</div>
        </div>
        <!--Using v-for
            Using the v-bind:class="{}", the class takes an object with a key
            as the classname and value is the evaluated expression.
        -->
        <h1 align="center">Show parents and Children</h1>
        <div v-for="person in people" :class="{ parent: person.isParent }" @click="togglePerson(person)">
            <p><b>Firstname:</b> {{ person.firstname}}</p>
            <p><b>Lastname:</b> {{ person.lastname}}</p>
            <br />
        </div>
        <h1 align="center">Show only parents</h1>
        <div v-for="p in filtered_parents">
            <hr />
            <p>Firstname: {{ p.firstname}} </p>
            <p>Lastname: {{ p.lastname}} </p>
            <hr />
        </div>
        <!--Using attribute binding
            Using v-bind:<attribute_name>
            Or    :attribute_name
        -->
        <a v-bind:href="url">Visit Keycloak</a>
    </div>
    <script src="app.js"></script>
</body>
</html>